<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>PlayWithText</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h3>PlayWithText</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search for something" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>


    <div class="card">
        <div class="card-header">
            Featured
        </div>

<form action="/reverse" method="get">
        <div class="card-body">
            <h5 class="card-title">Reverse the text</h5>
            <p class="card-text">For reversing the text please click below</p>
            <div class="form-floating"></div>
            <textarea class="form-control" name="reverse" placeholder="Enter your text here" id="reverse"></textarea>
            <label for="floatingTextarea"></label> <br>
            <button class="btn btn-primary">Let's Go</button>
    </div>
    </div>
</div>
</form>


<form action="/removepunc" method="get">
    <div class="card-body">
        <h5 class="card-title">Remove punctuation</h5>
        <p class="card-text">For removing the punctuation from the text please click below</p>
        <div class="form-floating"></div>
        <textarea class="form-control" name="removepunc" placeholder="Enter your text here" id="punctuated"></textarea>
        <label for="floatingTextarea"></label> <br>
        <button class="btn btn-primary">Let's Go</button>
    </div>
</div>
</div>
</form>
<hr>

<form action="/countChar">
    <div class="card-body">
        <h5 class="card-title">Count number of charector</h5>
        <p class="card-text">For counting number of Alphabet in given text please click below</p>
        <div class="form-floating"></div>
            <textarea class="form-control" name="countChar" placeholder="Enter your text here" id="counted"></textarea>
            <label for="floatingTextarea"></label> <br>
            <button class="btn btn-primary">Let's Go</button>
    </div>
    </div>
</div>
</form>

<hr>

<form action="/CapChar">
    <div class="card-body">
        <h5 class="card-title">Capitalize the text</h5>
        <p class="card-text">For Capitalizing whole text please click below</p>
        <div class="form-floating"></div>
        <textarea class="form-control" name="CapChar" placeholder="Enter your text here" id="capitalized"></textarea>
        <label for="floatingTextarea"></label> <br>
        <button class="btn btn-primary">Let's Go</button>
</div>
</div>
</div>

</form>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>